.app-container {
  display: flex;
  min-height: 100vh;
}

app-sidebar {
  display: flex;
}

.content {
  flex: 1;
  background: var(--mat-sys-surface);
  /* overflow-y: auto; */
}

.content-inner {
  padding: 2rem;
}
